
@font-face {
    font-family:"PFDinDisplayPro-Bold";
    src:url("PFDinDisplayPro-Bold.woff2") format("woff2"),url("PFDinDisplayPro-Bold.woff") format("woff"),url("PFDinDisplayPro-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        