/*=========================================
=                   Nav                   =
=========================================*/

.nav-main {
	width: 100%;
	height: $headerBottomHeight;
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
	top: 0;
	right: 0;

	&__menu {
		// width: 100%;
		height: $headerBottomHeight;
		display: flex;
		flex-direction: row;

		li {
			height: 100%;
			padding: 0 $padding;

			a {
				width: 100%;
				height: $headerBottomHeight;
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: $heading-font-light;
				font-size: $font-size-large;
				color: $fourth;
			}

			// &:last-child {
			// 	padding-right: 0;
			// }

			&.active {
				background-color: darken($primary, 7%);

				// a {
				// 	color: $fourth;
				// }
			}

			&:hover {

				&.active {

					a {
						color: $fourth;
					}
				}

				a {
					color: $third;
				}
			}
		}
	}
}

/*============  End of Nav  =============*/