
@font-face {
    font-family:"PFDinDisplayPro-Regular";
    src:url("PFDinDisplayPro-Reg.woff2") format("woff2"),url("PFDinDisplayPro-Reg.woff") format("woff"),url("PFDinDisplayPro-Reg.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        